<div class="bg-grey-lighter h-screen font-sans">
    <div class="container mx-auto h-full flex justify-center items-center">
        <div class="sm:w-4/5 md:w-2/5">
            <form class="border-teal p-8 border-t-12 bg-blue  rounded-lg shadow-lg" onsubmit={{action "changePwd"}}>
                <img class="mb-6" src="/assets/images/logo.png">
                <div class="mb-4">
                    <span class="text-white sm:text-xs lg:text-lg xl:text-2xl">Veuillez enter votre nouveau mot de passe</span>
                </div>
                <div class="mb-4">
                    {{input type="text" value=pwd class="block appearance-none w-full bg-white border
                    border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Mot de passe"}}

                </div>
                <div class="mb-4">
                    <ValidationInput @valueInput={{confirmPwd}} @confirmTest={{pwdDiff}} @valuePlaceholder={{"Confimez votre mot de passe"}} />
                </div>
                {{#if pwdDiff}}
                <div class="text-red mb-4">Veuillez confirmer votre mot de passe !</div>
                {{/if}}
                <div class="flex items-center justify-between">
                    <input type="submit" class="bg-teal-dark hover:bg-teal text-white font-bold py-2 px-4 rounded"
                        value="Confirmation">
                </div>
            </form>
        </div>
    </div>
</div>
{{outlet}}