<div class="mx-auto h-full font-sans">
    <h1 class="text-center sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl pt-4 pb-2">Planifiez votre voyage</h1>
    <form class="md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto px-8 sm:pt-0 md:pt-4 pb-8 sm:mb-2 lg:mb-4">
        {{!-- div votre devis --}}
        <div class="sm:mb-2 lg:mb-4 sm:text-xs md:text-sm lg:text-lg">
            <span class="font-bold">Votre Devis</span>
            <p class="pt-3">
                Veuillez remplir intégralement ce formulaire afin qu'un agent prenne en compte vorte demande.
            </p>
        </div>
        {{!-- div étape 1 --}}
        <div>
            <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Étape 1 : Informations personnelles</span>
            </div>
            {{!-- div nom et prénom --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmPrenom class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Prénom"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmNom class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Nom"}}
                </div>
            </div>
            {{!-- div email, genre et pays --}}
            <div class="md:w-4/5 mx-auto md:flex md:flex-row-reverse sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctiongender" name="gendr" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=gender required>
                        <option value="femme">Femme</option>
                        <option value="homme">Homme</option>
                        <option value="autre">Autre</option>
                    </select>
                    <input type="hidden" id="printFlags">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=flags required>
                        <option value="belgique">Belgique</option>
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                    <input type="hidden" id="printFlags">
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmEmail class="block appearance-none w-full bg-white border
                    border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Email"}}
                </div>
            </div>
            {{!-- div comfirmation email et nom de société --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmEmail class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Confirmation
                    email"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmSociety class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Nom de société"}}
                </div>
            </div>
            {{!-- div N°Tva et ville --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmTva class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="N° TVA"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmCity class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Ville"}}
                </div>
            </div>
            {{!-- div Rue, numéro et code postal --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmStreet class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Rue"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmNumber class="block appearance-none w-full
                        bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        placeholder="Numéro"}}
                    </div>
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmPc class="block appearance-none w-full bg-white
                        border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Code
                        postal"}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- div étape 2 --}}
        <div>
            <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Étape 2 : Informations voyage</span>
            </div>
            {{!-- div nom et prénom --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    <label>
                        {{pikaday-input placeholder="Date de départ" class="block appearance-none w-full bg-white
                        border border-grey-light hover:border-grey px-2 py-2 rounded shadow"}}
                    </label>
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    <label>
                        <input type="time" id="appt" name="appt" min="" max="" value="13:30" class="block appearance-none w-full bg-white
                        border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                            required>
                    </label>

                </div>
            </div>
            {{!-- div email, genre et pays --}}
            {{!-- class="nofocus flex-1 appearance-none bg-white border
            border-grey-light hover:border-grey px-1 py-5px rounded shadow" --}}
            <div class="md:w-4/5 mx-auto md:flex md:flex-row-reverse sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <label class="block appearance-none flex-1 bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
                        {{pikaday-input placeholder="Date de départ"}}
                    </label>
                    <input type="time" id="appt" name="appt" min="" max="" value="13:30" class="block appearance-none flex-1 bg-white
                        border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        required>

                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctiongender" name="gendr" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=gender required>
                        <option value="femme">Femme</option>
                        <option value="homme">Homme</option>
                        <option value="autre">Autre</option>
                    </select>
                    <input type="hidden" id="printFlags">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=flags required>
                        <option value="belgique">Belgique</option>
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                    <input type="hidden" id="printFlags">
                </div>
            </div>

            {{!-- div ville, numéro et code postal --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmStreet class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Rue"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmNumber class="block appearance-none w-full
                        bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        placeholder="Numéro"}}
                    </div>
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmPc class="block appearance-none w-full bg-white
                        border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Code
                        postal"}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>