<nav class="fixed pin-t w-full flex items-center justify-between flex-wrap bg-blue-transparent py-2">
    <div class="xl:w-3/5 mx-auto md:flex md:items-center md:justify-between">
        <div class="flex justify-between items-center">

            <div class="">
                <img src="assets/images/logo.png" width="75px" alt="logoPimpMyTrip">
            </div>

            <div class="block md:hidden">
                <button {{action "toggleMenu"}} class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
        </div>

        {{#if isHidden}}

        <div class="">
            <ul class="text-sm md:flex .prompt font-bold">
                <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white mr-4">
                    {{!-- {{link-to "Home" "home"}} --}}
                    <a href="home#home">Accueil</a>
                </li>
                <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white mr-4">
                    {{!-- {{link-to "Contact" "contact"}} --}}
                    <a href="home#contact">A propos</a>
                </li>
                <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white">
                    {{!-- {{link-to "About Us" "about-us"}} --}}
                    <a href="home#about">Contact</a>
                </li>
                <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white">
                    {{!-- {{link-to "About Us" "about-us"}} --}}
                    <a href="devis">Devis</a>
                </li>
            </ul>

        </div>
        {{/if}}

    </div>
</nav>

<header class="bg-banner-image w-full h-400px sm:invisible md:visible flex items-end">
    <div class="xl:w-3/5 md:mx-auto h-4/5 mb-8 flex">

        <div class="w-1/3 text-right mb-8 ml-32 pb-20">
            <img src="assets/images/logoShadow-md.png" width="300px">
        </div>
        <div class="w-2/3 flex justify-end items-end">
            <h2 class="bg-blue-transparent text-white block text-right p-4 rounded-lg">Personnalisez votre
                voyage
                en autocar et<br>
                obtenez un
                devis en quelques clics</h2>
        </div>
    </div>
</header>

{{!-- ---------------------- fin menu ------------------------------- --}}

<div class="mx-auto h-full font-sans">
    <h1 class="text-center sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl pt-4 pb-2">Planifiez votre voyage</h1>
    <form class="md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto px-8 sm:pt-0 md:pt-4 pb-8 sm:mb-2 lg:mb-4">
        {{!-- div votre devis --}}
        <div class="sm:mb-2 lg:mb-4 sm:text-xs md:text-sm lg:text-lg">
            <span class="font-bold">Votre Devis</span>
            <p class="pt-3">
                Veuillez remplir intégralement ce formulaire afin qu'un agent prenne en compte vorte demande.
            </p>
        </div>
        {{!-- div étape 1 --}}
        <div>
            <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Étape 1 : Informations personnelles</span>
            </div>
            {{!-- div nom et prénom --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmPrenom class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Prénom"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmNom class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Nom"}}
                </div>
            </div>
            {{!-- div email, genre et pays --}}
            <div class="md:w-4/5 mx-auto md:flex md:flex-row-reverse sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctiongender" name="gendr" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=gender required>
                        <option value="femme">Femme</option>
                        <option value="homme">Homme</option>
                        <option value="autre">Autre</option>
                    </select>
                    <input type="hidden" id="printFlags">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=flags required>
                        <option value="belgique">Belgique</option>
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                    <input type="hidden" id="printFlags">
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmEmail class="block appearance-none w-full bg-white border
                    border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Email"}}
                </div>
            </div>
            {{!-- div comfirmation email et nom de société --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmEmail class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                    placeholder="Confirmation email"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmSociety class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Nom de société"}}
                </div>
            </div>
            {{!-- div N°Tel et N°Fax --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmTel class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="N° Tel"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmFax class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="N° Fax"}}
                </div>
            </div>
            {{!-- div N°Tva et ville --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmTva class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="N° TVA"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmCity class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Ville"}}
                </div>
            </div>
            {{!-- div Rue, numéro et code postal --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmStreet class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Rue"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmNumber class="block appearance-none w-full
                        bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        placeholder="Numéro"}}
                    </div>
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmPc class="block appearance-none w-full bg-white border
                        border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Code postal"}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- div étape 2 --}}
        <div>
            <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Étape 2 : Informations voyage</span>
            </div>
            {{!-- div Nbre passagers et type de car --}}
            <div class="md:w-4/5 mx-auto md:flex  sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmPax class="block appearance-none w-full bg-white border
                    border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Nbre de passagers"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus flex-1 appearance-none bg-white border
                    border-grey-light hover:border-grey px-1 py-5px rounded shadow"
                        id=flags required>
                        <option value="30pl">30-Pl</option>
                        <option value="50pl">50-Pl</option>
                        <option value="70pl">70-Pl</option>
                    </select>
                    <input type="hidden" id="printFlags">
                </div>
            </div>
            <div class="pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Départ</span>
            </div>
            {{!-- div (date/heure départ) pays et ville --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{ember-flatpickr
                    allowInput=true
                    appendDataInput=true
                    disableMobile=true
                    classNames=classString
                    date=(readonly dateValue)
                    enableTime=true
                    locale='fr'
                    altFormat='Y-m-d'
                    minDate=minDate
                    minuteIncrement=1
                    time_24hr=true
                    onClose=(action "onCloseTime")
                    onChange=(action "onChangeTime")
                    onReady=(action "onReadyTime")
                    class="block appearance-none bg-white sm:w-full border border-grey-light hover:border-grey px-2
                    py-2 rounded shadow"
                    placeholder="Départ"
                    }}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus appearance-none bg-white border
                    border-grey-light hover:border-grey px-2 md:flex-1 w-full rounded shadow"
                        id=flags required>
                        <option value="belgique">Belgique</option>
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                    <input type="hidden" id="printFlags">
                    {{input type="text" value=contactConfirmDpCity class="block appearance-none w-full md:flex-1
                    bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="ville"}}
                </div>
            </div>
            {{!-- div Rue, numéro et code postal --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmStreet class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Rue"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmNumber class="block appearance-none w-full
                        bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        placeholder="Numéro"}}
                    </div>
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmPc class="block appearance-none w-full bg-white border
                        border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Code postal"}}
                    </div>
                </div>
            </div>
            <div class="pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Retour</span>
            </div>
            {{!-- div (date/heure départ) pays et ville --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{ember-flatpickr
                    allowInput=true
                    appendDataInput=true
                    disableMobile=true
                    classNames=classString
                    date=(readonly dateValue)
                    enableTime=true
                    locale='fr'
                    altFormat='Y-m-d'
                    minDate=minDate
                    minuteIncrement=1
                    time_24hr=true
                    onClose=(action "onCloseTime")
                    onChange=(action "onChangeTime")
                    onReady=(action "onReadyTime")
                    class="block appearance-none bg-white sm:w-full border border-grey-light hover:border-grey px-2
                    py-2 rounded shadow"
                    placeholder="Départ"
                    }}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <select onchange="myFunctionFlags" name="flag" class="nofocus appearance-none bg-white border
                    border-grey-light hover:border-grey px-2 md:flex-1 w-full rounded shadow"
                        id=flags required>
                        <option value="belgique">Belgique</option>
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                    <input type="hidden" id="printFlags">
                    {{input type="text" value=contactConfirmDpCity class="block appearance-none w-full md:flex-1
                    bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="ville"}}
                </div>
            </div>
            {{!-- div Rue, numéro et code postal --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    {{input type="text" value=contactConfirmConfirmStreet class="block appearance-none w-full bg-white
                    border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Rue"}}
                </div>
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex">
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmNumber class="block appearance-none w-full
                        bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                        placeholder="Numéro"}}
                    </div>
                    <div class="flex-1">
                        {{input type="text" value=contactConfirmPc class="block appearance-none w-full bg-white border
                        border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Code postal"}}
                    </div>
                </div>
            </div>
            <div class="pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Options</span>
            </div>
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="pb-1 sm:mb-2 lg:mb-4 pt-2 pl-1 md:flex-1">
                    <input type="checkbox" id="skibox" name="skibox" value="Skibox">
                    <label for="skibox">Bac à ski</label>
                </div>
                <div class="pb-1 sm:mb-2 lg:mb-4 pt-2 pl-1 md:flex-1">
                    <input type="checkbox" id="trailer" name="trailer" value="Trailer">
                    <label for="trailer">Remorque</label>
                </div>
            </div>
        </div>
        {{!-- div étape 3 --}}
        <div>
            <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
                <span class="sm:text-xs lg:text-lg text-blue font-bold">Étape 3 : Commentaires</span>
            </div>
            {{!-- div (date/heure départ) pays et ville --}}
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4">
                    <textarea id="story" name="story" rows="5" cols="33" class="block appearance-none bg-white sm:w-full border border-grey-light hover:border-grey px-2
                    py-2 rounded shadow">
                    </textarea>
                </div>
            </div>
            <div class="md:w-4/5 mx-auto md:flex sm:text-xs lg:text-base">
                <div class="md:flex-1 md:px-1 sm:mb-2 lg:mb-4 flex justify-end">
                    <input type="submit" value="Envoyer" class="block appearance-none bg-blue text-white sm:w-1/4 border border-grey-light hover:border-grey px-2
                    py-2 rounded shadow">
                </div>
            </div>
        </div>
    </form>
</div>

<footer class=" mt-4 bg-blue-transparent text-white pt-3 pb-3 md:justify-center">
    <div class="flex flex-wrap sm:ml-2 md:ml-8 ml-10 text-xs justify-center">
        <span>©Copyright 2019 - Pimp my Trip - </span>
        <span>Technocité Formation "Developpeur JavaScript"</span>
        <span>Ce site est un site fictif</span>
    </div>
    {{!-- <nav>
        <ul class="flex list-reset ml-6 pt-1">
            <li>
                {{!-- {{link-to "Home" "home"}} --}}
                {{!-- <a href="#home">Home</a>
            </li>
            <!-- <li> {{link-to "Contact" "contact"}} </li>-->
            <li><a href="#contact">Contact</a></li>
            <li>
                {{!-- {{link-to "About Us" "about-us"}} --}}
                {{!-- <a href="#about">About Us</a> </li>

            <li> {{link-to "Devis" "devis"}} </li>
        </ul>
    </nav> --}}
</footer>