<nav class="fixed pin-t w-full flex items-center justify-between flex-wrap bg-blue-transparent z-50">
  <div class="sm:w-full md:w-3/4 mx-auto md:flex md:items-center md:justify-between">
    <div class="flex justify-between items-center sm:px-4">

      <div class="">
        <img src="assets/images/logo.png" width="75px" alt="logoPimpMyTrip">
      </div>

      <div class="block md:hidden">
        <button {{action "toggleMenu"}} class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>

    {{#if isHidden}}

    <div class="">
      <ul class="sm:text-sm lg:text-lg xl:text-xl md:flex md:justify-between .prompt font-bold text-center pl-0">
        <li class="block mt-2 md:inline-block md:mt-0 text-teal-lighter hover:text-white sm:mr-0 md:mr-4">
          {{!-- {{link-to "Home" "home"}} --}}
          <a href="#home">Accueil</a>
        </li>
        <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white sm:mr-0 md:mr-4">
          {{!-- {{link-to "About Us" "about-us"}} --}}
          <a href="#about">A propos</a>
        </li>
        <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white sm:mr-0 md:mr-4">
          {{!-- {{link-to "Contact" "contact"}} --}}
          <a href="#contact">Contact</a>
        </li>
        <li class="block mt-4 md:inline-block md:mt-0 text-teal-lighter hover:text-white sm:mr-0">
          {{!-- {{link-to "Devis" "devis"}} --}}
          <a href="devis">Devis</a>
        </li>
      </ul>

    </div>
    {{/if}}

  </div>
</nav>
{{!-- md:float-right md:mt-34 lg:mt-46 xl:mt-64 md:mr-4 lg:mr-6 xl:mr-12 --}}

<header class="sm:hidden md:block">
  <div class="w-full">
    <div class="bgAccueil w-full relative">
      <img src="assets/images/logoShadow-md.png" class="md:w-1/5 z-20 md:mt-14 xl:mt-16 md:mb-8 lg:mb-14 xl:mb-24 md:ml-6 lg:ml-8 ">
      <h2 class="z-20 bg-blue-transparent text-white text-center md:p-2  rounded-lg md:text-sm lg:text-lg xl:text-2xl">
        Personnalisez votre voyage en autocar et <br> obtenez un devis en quelques clics
      </h2>
    </div>
  </div>
</header>

<span class="md:clearfix"></span>

{{!-- ---------------------- fin menu ------------------------------- --}}

<section class="sm:w-4/5 md:w-3/4 mx-auto sm:mt-8 sm:mb-6">
  <article class="flex md:w-full md:flex-no-wrap flex-wrap-reverse lg:mt-14 xl:mt-46">
    <img src="/assets/images/accueil/accueil_inside.jpg" class=" md:pb-6 sm:h-54">
    <p class=" md:ml-6 md:pb-6 justify sm:pb-4 xl:text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Officia, aliquam unde?
      At, eaque laboriosam, tempora eius mollitia perspiciatis exercitationem animi optio fugiat omnis ullam
      nihil odit delectus voluptatem ratione quod!<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Facilis, deleniti provident. Expedita ducimus autem neque possimus nostrum aut in nesciunt debitis
      magnam sint corrupti, rerum consequatur, similique cumque eos quis. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Blanditiis nam voluptatem nulla temporibus necessitatibus voluptatum laboriosam officia
      officiis? Repudiandae repellendus soluta sit odio cum eveniet alias voluptatem dolorum perspiciatis
      quisquam.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aliquam unde? At, eaque
      laboriosam, neque possimus nostrum aut in nesciunt debitis tempora eius mollitia perspiciatis
      exercitationem animi optio fugiat omnis ullam nihil odit delectus voluptatem ratione quod!</p>
  </article>
  <article class="flex md:flex-no-wrap sm:flex-wrap mt-6 ">
    <p class="md:pb-6 justify sm:pb-4 md:mr-3 xl:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Officia, aliquam unde?
      At, eaque laboriosam, tempora eius mollitia perspiciatis exercitationem animi optio fugiat omnis ullam
      nihil odit delectus voluptatem ratione quod!<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Facilis, deleniti provident. Expedita ducimus autem neque possimus nostrum aut in nesciunt debitis
      magnam sint corrupti, rerum consequatur, similique cumque eos quis. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Facilis, deleniti provident. Expedita ducimus autem neque possimus nostrum aut in
      nesciunt debitis magnam sint corrupti, rerum consequatur, neque possimus nostrum aut in nesciunt debitis
      similique cumque eos quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <img src="assets/images/accueil/accueil_autocar.jpg" class="md:pb-6 md:ml-3 sm:h-54">
  </article>
</section>

<div id="about" class="flex justify-center">
  <h2 class="text-white justify mt-32 mb-32">L'agence Pimp My Trip</h2>
</div>

<div id="contenu-about" class="sm:w-4/5 md:w-3/4 mx-auto sm:mt-6">
  <div class="flex md:flex-no-wrap sm:flex-wrap-reverse">
    <img src="/assets/images/aPropos/aPropos_autocar1.jpg" class="md:pb-6 sm:h-54">
    <p class="md:ml-6 md:pb-6 justify sm:pb-4 xl:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Officia, aliquam
      unde? At, eaque laboriosam, tempora eius mollitia perspiciatis exercitationem animi optio fugiat omnis
      ullam nihil odit delectus voluptatem ratione quod!<br><br>Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Facilis, deleniti provident. Expedita ducimus autem neque possimus nostrum aut in
      nesciunt debitis magnam sint corrupti, rerum consequatur, similique cumque eos quis. Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Blanditiis nam voluptatem nulla temporibus necessitatibus
      voluptatum laboriosam officia officiis? Repudiandae repellendus soluta sit odio cum eveniet alias
      voluptatem dolorum perspiciatis quisquam.</p>
  </div>

  <div class="flex md:flex-no-wrap sm:flex-wrap mt-6 sm:pb-2">
    <p class="md:pb-6 justify sm:pb-4 md:mr-3 xl:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aliquam
      unde? At, eaque laboriosam, tempora eius mollitia perspiciatis exercitationem animi optio fugiat omnis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus iste omnis rem provident expedita
      nostrum ipsa tempora quidem maxime, eum molestiae!
      ullam nihil odit delectus voluptatem ratione quod!<br><br>Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Facilis, deleniti provident. Expedita ducimus autem neque possimus nostrum aut in
      nesciunt debitis magnam sint corrupti, rerum consequatur, similique cumque eos quis. Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Blanditiis nam voluptatem nulla temporibus necessitatibus
      voluptatum laboriosam officia officiis? Repudiandae repellendus soluta sit odio cum eveniet alias
      voluptatem dolorum perspiciatis quisquam.</p>
    <ul class="flex mb-2 list-reset xl:text-sm">
      <li>Classique:</li>
      <span>Blanditiis nam voluptatem nulla temporibus necessitatibus
        voluptatum laboriosam officia officiis? Repudiandae repellendus soluta sit odio cum eveniet alias
        voluptatem dolorum perspiciatis quisquam.</span>
    </ul>
    <ul class="flex mb-2 list-reset xl:text-sm">
      <li class="mr-5">Confort: </li>
      <span>Blanditiis nam voluptatem nulla temporibus necessitatibus
        voluptatum laboriosam officia officiis? Repudiandae repellendus soluta sit odio cum eveniet alias
        voluptatem dolorum perspiciatis quisquam.</span>
    </ul>
    <ul class="flex mb-2 sm:mb-4 list-reset xl:text-sm">
      <li class="mr-3 ">TopClass:</li>
      <span>Blanditiis nam voluptatem nulla temporibus necessitatibus
        voluptatum laboriosam officia officiis? Repudiandae repellendus soluta sit odio cum eveniet alias
        voluptatem dolorum perspiciatis quisquam.</span>
    </ul>
  </div>
  <div class="sm:flex-wrap-reverse md:mt-8">
    <div class="sm:w-full md:flex md:justify-center">
      <div class="md:flex-1">
<<<<<<< HEAD
        <img src="assets/images/aPropos/aPropos_inside1.jpg" class="md:py-2 md:h-24 md:mr-4 sm:h-44 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside2.jpg" class="md:py-2 md:h-24 md:mr-4 sm:h-44 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside3.jpg" class="md:py-2 md:h-24 md:mr-4 sm:h-44 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside2.jpg" class="md:py-2 md:h-24 md:mr-4 sm:h-44 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_autocar2.jpg" class="md:py-2 md:h-24 md:mr-4 sm:h-44 xl:h-48">
=======
        <img src="assets/images/aPropos/aPropos_inside1.jpg" class="md:py-2 md:h-24 md:mr-4 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside2.jpg" class="md:py-2 md:h-24 md:mr-4 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside3.jpg" class="md:py-2 md:h-24 md:mr-4 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_inside2.jpg" class="md:py-2 md:h-24 md:mr-4 xl:h-48">
      </div>
      <div class="md:flex-1">
        <img src="assets/images/aPropos/aPropos_autocar2.jpg" class="md:py-2 md:h-24 md:mr-4 xl:h-48">
>>>>>>> 0ad468aac7c739bdaa8a9b6143038e100be18932
      </div>
    </div>
  </div>
</div>
<div id="contact" class="flex justify-center md:mt-6 md:mb-6">
  <h2 class="text-black justify mt-32 mb-32">Contactez Pimp My Trip</h2>
</div>
<!--Formulaire-->
<div id="contenu-contact" class="mx-auto  md:mt-6 md:p-4 sm:mb-2 ">
  <div class="flex sm:flex-wrap ">
    <div id="write" class="md:mr-6 sm:hidden"></div>
    <!--<img src="/assets/images/contact/contact_writing.jpg" class="pb-6 mr-6" style="width:200px;height:113px">-->
    <form class="border border-grey-light mx-auto px-8 pt-6 pb-4 mb-4">
      <h3 class="text-center sm:text-xl md:text-5xl">Vous avez des questions?</h3>
      <p class="sm:text-xs md:text-lg pt-2 mb-4">Blanditiis nam voluptatem nulla temporibus necessitatibus
        voluptatum laboriosam officia officiis? </p>
      <div class=" mx-auto ">
        <div class="mb-4">
          {{input class="block appearance-none w-full bg-white
          border border-grey-light hover:border-grey px-2 py-2 rounded shadow" type="text"
          value=contactFirstname placeholder="Votre prénom"}}
        </div>
        <div class="mb-4">
          {{input class="block appearance-none w-full bg-white
          border border-grey-light hover:border-grey px-2 py-2 rounded shadow" type="text"
          value=contactLastname placeholder="Votre nom"}}
        </div>
        <div class="mb-4">
          {{input class="block appearance-none w-full bg-white
          border border-grey-light hover:border-grey px-2 py-2 rounded shadow" type="text" value=contactEmail
          placeholder="Votre email"}}
        </div>
        <div class="mb-4">
          {{input class="block appearance-none w-full bg-white
          border border-grey-light hover:border-grey px-2 py-2 rounded shadow" type="text"
          value=contactConfirmEmail placeholder="Confirmez votre email"}}
        </div>
        <div class="mb-4">
          {{textarea rows="4" cols="70" class="block appearance-none w-full bg-white
          border border-grey-light hover:border-grey px-2 py-2 rounded shadow" type="textarea"
          value=contactMessage placeholder="Votre message ici"}}
        </div>
      </div>
      <button onclick={{action "sendMessage"}} class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Envoyer</button>
    </form>
  </div>
</div>
{{outlet}}

<footer class=" mt-4 bg-blue-transparent text-white pt-3 pb-3 md:justify-center">
  <div class="flex flex-wrap sm:ml-2 md:ml-8 ml-10 text-xs justify-center">
    <span>©Copyright 2019 - Pimp my Trip - </span>
    <span>Technocité Formation "Developpeur JavaScript"</span>
    <span>Ce site est un site fictif</span>
  </div>

  {{!-- <nav>
    <ul class="flex list-reset ml-6 pt-1">
      <li>
        {{!-- {{link-to "Home" "home"}} --}}
        {{!-- <a href="#home">Home</a>
      </li>
      <!-- <li> {{link-to "Contact" "contact"}} </li>-->
      <li><a href="#contact">Contact</a></li>
      <li>
        {{!-- {{link-to "About Us" "about-us"}} --}}
        {{!-- <a href="#about">About Us</a> </li>

      <li> {{link-to "Devis" "devis"}} </li>
    </ul>
  </nav> --}}
</footer>