<div>
  <a href="#" {{action "back"}}>Retour</a>
</div>
<h2>Créer profil chauffeur </h2>
<div class="bg-white shadow-md mt-4 md:w-full mb-8">

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Nom :<br>
      <div class="">
        {{input type="text" value=lastname class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Prénom :<br>
      <div class="">
        {{input type="text" value=firstname class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Sexe :<br>
      <div class="">
        {{input type="text" value=gender class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Age :<br>
      <div class="">
        {{input type="text" value=age class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue :<br>
      <div class="">
        {{input type="text" value=addressStreet class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro :<br>
      <div class="">
        {{input type="text" value=addressNumber class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal :<br>
      <div class="">
        {{input type="text" value=addressZip class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville:<br>
      <div class="">
        {{input type="text" value=addressCity class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays :<br>
      <div class="">
        {{input type="text" value=addressCountry class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Email :<br>
      <div class="">
        {{input type="text" value=email class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      N°téléphone :<br>
      <div class="">
        {{input type="text" value=phone class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N°téléphone de service :<br>
      <div class="">
        {{input type="text" value=servicePhone class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Numéro de permis :<br>
      <div class="">
        {{input type="text" value=numPermis class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Type de permis :<br>
      <div class="">
        {{input type="text" value="D" class="block appearance-none w-full bg-white border border-grey-light
        hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Date de CAP :<br>
      <div class="">
        {{input type="text" value=capDate class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Date de selection médicale :<br>
      <div class="">
        {{input type="text" value=medicalDate class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex-1 w-1/2 p-3">
    Langue(s) parlée(s) :<br>
    <div class="">
      {{input type="text" value=language class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
    </div>
  </div>
  <div class="flex justify-end p-3">
    <button class="ml-3 md:mb-6" onclick={{action "createDriver"}}>Créer chauffeur</button>
  </div>
</div>

{{outlet}}