<h2>Tableau de bord - {{model.idUser.firstname}} {{model.idUser.lastname}}</h2>

<h3 class="mt-2">Liste clients</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Nom</th>
      <th class="w-1/4">Prénom</th>
      <th class="w-1/4">Actions</th>
    </tr>
    {{#each model as |client|}}
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center ">{{client.id}}</td>
      <td class="w-1/4 text-center">{{client.idUser.lastname}}</td>
      <td class="w-1/4 text-center">{{client.idUser.firstname}}</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
{{/each}}
  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.requests"}}Voir toutes vos demandes de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Liste devis</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Id client</th>
      <th class="w-1/4">Statut</th>
      <th class="w-1/4">Actions</th>
    </tr>
    {{#each model as |quote|}}
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">{{quote.id}}</td>
      <td class="w-1/4 text-center">{{quote.idUser}}</td>
      <td class="w-1/4 text-center">{{quote.Status}}</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    {{/each}}

  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.proposals"}}Voir toutes les propositions de devis{{/link-to}}
  </div> --}}
</div>

<h3 class="mt-4">Liste dossiers</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">
    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/4">Id</th>
      <th class="w-1/4">Id Client</th>
      <th class="w-1/4">Destination</th>
      <th class="w-1/4">Actions</th>
    </tr>
    {{#each model as |folder|}}
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/4 text-center">{{folder.id}}</td>
      <td class="w-1/4 text-center">{{folder.idUser}}</td>
      <td class="w-1/4 text-center">{{folder.placeArrival.city}}</td>
      <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    {{/each}}

  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.folders"}}Voir tous vos devis acceptés{{/link-to}}
  </div> --}}
</div>




{{outlet}}