<h2 class="mt-6">Fiche chauffeur - {{driver.idUser.firstname}} {{driver.idUser.lastname}}</h2>
<div class="flex">
  <div class="flex w-1/2">
    <div class=" bg-white p-4 shadow-md mt-4 text-black w-full">
      <div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Prénom:</div>
            <div class="pl-2 flex italic">{{driver.idUser.firstname}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold"> Nom: </div>
            <div class="pl-2 italic">{{driver.idUser.lastname}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Email: </div>
            <div class="pl-2 italic">{{driver.idUser.email}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Genre: </div>
            <div class="pl-2 italic">{{driver.idUser.sexe}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Téléphone de service: </div>
            <div class="pl-2 italic">{{driver.servicePhone}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Téléphone privé: </div>
            <div class="pl-2 italic">{{driver.idUser.phone}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">

          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">N°Permis: </div>
            <div class="pl-2 italic">{{driver.numPermis}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Date sélection médicale: </div>
            <div class="pl-2 italic">{{driver.medicalDate}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Date CAP: </div>
            <div class="pl-2 italic">{{driver.capDate}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold"> Ville: </div>
            <div class="pl-2 italic">{{driver.idUser.address.city}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Rue: </div>
            <div class="pl-2 italic">{{driver.idUser.address.street}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">N°: </div>
            <div class="pl-2 italic">{{driver.idUser.address.number}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Pays: </div>
            <div class="pl-2 italic">{{driver.idUser.address.country}}</div>
          </div>
        </div>
      </div>
      <div class="mt-6 flex">
        <input type="submit" value="Modifier chauffeurs" class="block appearance-none bgPrimaryBlue text-white sm:w-1/2 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
      </div>
    </div>
  </div>

  <div class="flex w-1/2 flex-col ml-4">
    <div class="bg-white p-4 shadow-md mt-4 text-black w-full">
      <h4>Voyages effectués</h4>
      <table class="w-full mt-3">
        <thead>
          <tr class="p-2 text-white bgPrimaryBlue">
            <th class="w-1/4">Id</th>
            <th class="w-1/4">Date de retour</th>
            <th class="w-1/4">Destination</th>
            <th class="w-1/4">Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <p>Aucun Voyage terminé.</p>

    </div>
    <div class="bg-white p-4 shadow-md mt-4 text-black w-full">
      <h4>Voyages programmés</h4>

      <table class="w-full mt-3">
        <thead>
          <tr class="p-2 text-white bgPrimaryBlue">
            <th class="w-1/6">Id</th>
            <th class="w-1/6">Destination</th>
            <th class="w-1/6">Date départ</th>
            <th class="w-1/6">Date retour</th>
            <th class="w-1/6">Nom client</th>
            <th class="w-1/6">Actions</th>
          </tr>
        </thead>
        <tbody>

          {{#each quote as |quoteInfo|}}
            {{#each quoteInfo.nameDriver as |driverInclude|}}
              {{#if (compare driverInclude "===" driver.id)}}
                <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
                  <td class="w-1/6 text-center ">{{quoteInfo.numFolder}}</td>
                  <td class="w-1/6 text-center ">{{quoteInfo.placeArrival.city}}</td>
                  <td class="w-1/6 text-center ">{{quoteInfo.dateDeparture}}</td>
                  <td class="w-1/6 text-center ">{{quoteInfo.dateArrival}}</td>
                  <td class="w-1/6 text-center ">{{quoteInfo.idClient.idUser.firstname}}</td>
                  <td class="w-1/6 text-center">{{#link-to "back-agent.agent.folder-card" quoteInfo.id}}<i class="fas fa-info-circle"></i>{{/link-to}}</td>
                </tr>
              {{/if}}
            {{/each}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <form class="w-full bg-white p-4 shadow-md mt-4" onsubmit={{action "linkFolderToDriver"}}>
      <h4>Lier un dossier</h4>
        {{#if (compare emptySelect "===" 0)}}
          <p>Aucun dossier ne peut être lié à ce chauffeur!</p>
        {{else}}
        <label>Choisir un Dossier:</label>
        <select class="ml-6" onchange={{action "selectOption" "folderNum" }} value="target.value">
          {{#each quote as |quoteInfo|}}
            {{#if (compare quoteInfo.nameDriver.length "===" 0)}}
              {{#if (compare quoteInfo.status '===' 'valide')}}
                <option selected>{{quoteInfo.id}} - {{quoteInfo.placeDeparture.city}} à {{quoteInfo.placeArrival.city}}</option>
              {{/if}}
            {{/if}}
          {{/each}}
        </select>
        <input type="submit" class="pt-2 pb-2 pr-6 pl-6 ml-6 text-white bgPrimaryBlue rounded" value="Lier">
        {{/if}}
    </form>
  </div>
</div>

{{outlet}}