<div>
  <a href="#" {{action "back"}}><i class="fas fa-caret-left"></i> Retour</a>
</div>
<h2>Modifier profil chauffeur - {{model.idUser.firstname}} {{model.idUser.lastname}}</h2>
<div class="bg-white shadow-md mt-4 md:w-full mb-8">
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue :<br>
      <div class="">
        {{input type="text" value=model.idUser.address.street class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro :<br>
      <div class="">
        {{input type="text" value=model.idUser.address.number class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal :<br>
      <div class="">
        {{input type="text" value=model.idUser.address.zip class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville:<br>
      <div class="">
        {{input type="text" value=model.idUser.address.city class="block appearance-none w-full bg-white
        border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays :<br>
      <SelectCountryUser @countryUser={{model.idUser.address.country}}
        {{!-- onclick={{action "selectOption" "countryUser"}} --}} />
    </div>
    <div class="flex-1 w-1/2 p-3">
      Email :<br>
      <div class="">
        {{input type="text" value=model.idUser.email class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      N°téléphone :<br>
      <div class="">
        {{input type="text" value=model.idUser.phone class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N°téléphone de service :<br>
      <div class="">
        {{input type="text" value=model.servicePhone class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Numéro de permis :<br>
      <div class="">
        {{input type="text" value=model.numPermis class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Type de permis :<br>
      <div class="">
        {{input type="text" value="D" class="block appearance-none w-full bg-white border border-grey-light
        hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Date de CAP :<br>
      <div class="">
        {{input type="text" value=model.capDate class="block appearance-none w-full bg-white border
        border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Date de selection médicale :<br>
      <div class="">
        {{input type="text" value=model.medicalDate class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
      </div>
    </div>
  </div>
  <div class="flex-1 w-1/2 p-3">
    Langue(s) parlée(s) :<br>
    <div class="">
      {{input type="text" value=model.language class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 h-8 rounded shadow mt-2"}}
    </div>
  </div>
  <div class="flex justify-end p-3">
    <button class="ml-3 md:mb-6" onclick={{action "updateDriver"}}>Envoyer la modification</button>
  </div>
</div>


{{outlet}}