<h2 class="mt-6">Fiche chauffeur - {{model.idUser.firstname}} {{model.idUser.lastname}}</h2>
<div class="flex">
  <div class="flex w-1/2">
    <div class=" bg-white p-4 shadow-md mt-4 text-black w-full">
      <div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Prénom:</div>
            <div class="pl-2 flex italic">{{model.idUser.firstname}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold"> Nom: </div>
            <div class="pl-2 italic">{{model.idUser.lastname}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Email: </div>
            <div class="pl-2 italic">{{model.idUser.email}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Genre: </div>
            <div class="pl-2 italic">{{model.idUser.sexe}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Téléphone de service: </div>
            <div class="pl-2 italic">{{model.servicePhone}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Téléphone privé: </div>
            <div class="pl-2 italic">{{model.idUser.phone}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">

          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">N°Permis: </div>
            <div class="pl-2 italic">{{model.numPermis}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Date sélection médicale: </div>
            <div class="pl-2 italic">{{model.medicalDate}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Date CAP: </div>
            <div class="pl-2 italic">{{model.capDate}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold"> Ville: </div>
            <div class="pl-2 italic">{{model.idUser.address.city}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Rue: </div>
            <div class="pl-2 italic">{{model.idUser.address.street}}</div>
          </div>
        </div>
        <div class="flex space-between mb-2">
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">N°: </div>
            <div class="pl-2 italic">{{model.idUser.address.number}}</div>
          </div>
          <div class="flex flex-1 flex-col">
            <div class="p-2 flex font-bold">Pays: </div>
            <div class="pl-2 italic">{{model.idUser.address.country}}</div>
          </div>
        </div>
      </div>
      <div class="mt-6 flex">
        <input type="submit" value="Modifier chauffeurs" class="block appearance-none bgPrimaryBlue text-white sm:w-1/2 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
        <input type="submit" value="Assigner voyage" class="block appearance-none bgPrimaryBlue text-white sm:w-1/2 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
      </div>


    </div>
  </div>
  <div class="flex w-1/2 flex-col ml-4">
    <div class="bg-white p-4 shadow-md mt-4 text-black w-full">
      <h4>Voyages effectués</h4>
      <table class="w-full mt-3">
        <thead>
          <tr class="p-2 text-white bgPrimaryBlue">
            <th class="w-1/4">Id</th>
            <th class="w-1/4">Date de retour</th>
            <th class="w-1/4">Destination</th>
            <th class="w-1/4">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{!-- {{log model}}
          {{log model.tripDone}}
          {{log model.tripDone.voyageDone1}} --}}
          {{!-- {{#each model as |trip|}} --}}
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/4 text-center ">1</td>
            <td class="w-1/4 text-center">01/02/2019</td>
            <td class="w-1/4 text-center">Dupont</td>
            <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          {{!-- {{/each}} --}}
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/4 text-center ">2</td>
            <td class="w-1/4 text-center">04/02/2019</td>
            <td class="w-1/4 text-center">Dumond</td>
            <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/4 text-center ">3</td>
            <td class="w-1/4 text-center">14/02/2019</td>
            <td class="w-1/4 text-center">Dumont</td>
            <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/4 text-center ">4</td>
            <td class="w-1/4 text-center">17/02/2019</td>
            <td class="w-1/4 text-center">Ducont</td>
            <td class="w-1/4 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="bg-white p-4 shadow-md mt-4 text-black w-full">
      <h4>Voyages programmés</h4>

      <table class="w-full mt-3">
        <thead>
          <tr class="p-2 text-white bgPrimaryBlue">
            <th class="w-1/6">Id</th>
            <th class="w-1/6">Destination</th>
            <th class="w-1/6">Date départ</th>
            <th class="w-1/6">Date retour</th>
            <th class="w-1/6">Nom client</th>
            <th class="w-1/6">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center ">10</td>
            <td class="w-1/6 text-center ">Colmar</td>
            <td class="w-1/6 text-center ">12/04/2019</td>
            <td class="w-1/6 text-center ">17/04/2019</td>
            <td class="w-1/6 text-center ">Betzel</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center ">11</td>
            <td class="w-1/6 text-center ">La Panne</td>
            <td class="w-1/6 text-center ">18/04/2019</td>
            <td class="w-1/6 text-center ">18/04/2019</td>
            <td class="w-1/6 text-center ">Lorion</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>

          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center ">12</td>
            <td class="w-1/6 text-center ">Lloret de Mar</td>
            <td class="w-1/6 text-center ">21/04/2019</td>
            <td class="w-1/6 text-center ">29/04/2019</td>
            <td class="w-1/6 text-center ">Bertiaux</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center">13</td>
            <td class="w-1/6 text-center">Amsterdam</td>
            <td class="w-1/6 text-center">30/04/2019</td>
            <td class="w-1/6 text-center">05/05/2019</td>
            <td class="w-1/6 text-center">Duth</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center">14</td>
            <td class="w-1/6 text-center">Nantes</td>
            <td class="w-1/6 text-center">07/05/2019</td>
            <td class="w-1/6 text-center">14/05/2019</td>
            <td class="w-1/6 text-center">Brochard</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
          <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
            <td class="w-1/6 text-center">15</td>
            <td class="w-1/6 text-center">Venise</td>
            <td class="w-1/6 text-center">14/05/2019</td>
            <td class="w-1/6 text-center">21/05/2019</td>
            <td class="w-1/6 text-center">Danoisse</td>
            <td class="w-1/6 text-center"><i class="fas fa-info-circle"></i></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

{{outlet}}

