<div><a href="#" {{action "back"}}>Retour</a></div>
<h2 class="mt-6">Devis en {{model.status}} n°{{model.id}} - {{model.placeArrival.city}}</h2>
<div class="bg-white p-4 shadow-md mt-4 text-black w-full">
  {{!--Infos clients--}}
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4 class="">Infos client:</h4>
      {{!-- <i class="fas fa-user-edit"></i> --}}
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Prénom:</div>
        <div class="pl-2 flex italic">{{quote.idClient.idUser.firstname}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Nom: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.lastname}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Email: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.email}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Genre: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.sexe}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Société: </div>
        <div class="pl-2 italic">{{quote.idClient.societe}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N° Tva: </div>
        <div class="pl-2 italic">{{quote.idClient.numTva}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> N°Tel: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.phone}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°Fax: </div>
        <div class="pl-2 italic">{{quote.idClient.numFax}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.address.city}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.address.street}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.phone}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">{{quote.idClient.idUser.address.country}}</div>
      </div>
    </div>
  </div>


  {{!--Infos voyage--}}
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Départ:</h4>
      {{!-- <i class="far fa-edit"></i> --}}
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Date et heure de départ: </div>
        <div class="pl-2 italic">{{quote.dateDeparture}}</div>
      </div>

    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">{{quote.placeDeparture.city}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">{{quote.placeDeparture.street}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">{{quote.placeDeparture.number}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">{{quote.placeDeparture.country}}</div>
      </div>
    </div>
  </div>
  {{!-- {{log quote.dateArrival}} --}}
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Retour:</h4>
      {{!-- <i class="far fa-edit"></i> --}}
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Date et heure de retour: </div>
        <div class="pl-2 italic">{{quote.dateArrival}}</div>
      </div>

    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">{{quote.placeArrival.city}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">{{quote.placeArrival.street}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">{{quote.placeArrival.number}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">{{quote.placeArrival.country}}</div>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Voyage:</h4>
      {{!-- <i class="far fa-edit"></i> --}}
    </div>
    <div class="flex flex-1 flex-col">
      <div class="p-2 flex font-bold">Nombre de passagers:</div>
      <div class="pl-2 flex italic">{{quote.pax}}</div>
    </div>
    <div class="flex flex-1 flex-col">
      <div class="p-2 flex font-bold"> Type de car: </div>
      <div class="pl-2 italic">{{quote.capacityAutocar}} places</div>
    </div>
    <div class="">
      <div class="flex flex-1 flex-col">
        <div class="flex justify-between">
          <div class="p-2 flex font-bold"> Options: </div>
        </div>
        <div class="pl-2 italic">{{quote.options}}</div>
      </div>

      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Commentaire: </div>
        <div class="pl-2 italic">{{quote.com}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Kilométrage estimé:</div>
        {{!-- <div class="pl-2 italic text-red font-bold">{{input type='text' value=totalKm placeholder="km"}}</div>
        --}}
      </div>
    </div>

    {{#if (compare quote.status '!=' 'attente')}}
    <div class="">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Durée du voyage </div>
        <div class="pl-2 italic text-red font-bold">{{nbDays}}</div>
      </div>
    </div>
    {{!-- <div class="flex flex-1 flex-col">
      <div class="p-2 flex font-bold"> Inclus dans le prix: </div>
      <div class="pl-2 italic">{{quote.includeIn}}</div>
    </div>
    <div class="flex flex-1 flex-col">
      <div class="p-2 flex font-bold"> Non inclus dans le prix: </div>
      <div class="pl-2 italic">{{quote.notIncludeIn}}</div>
    </div> --}}
    {{!-- <div class="flex justify-between">
      <div class="p-2 flex font-bold"> Prix de base: </div>
      <div class="p-2 italic">1800 €</div>
    </div> --}}
    <div class="">
      <div class="flex justify-between">
        <div class="p-2 flex font-bold">Coûts supplémentaires: </div>
        <div class="p-2 italic">250 €</div>
      </div>
      <div class="flex justify-between">
        <div class="p-2 flex font-bold">Total: </div>
        <div class="p-2 flex italic border-t-2 border-black ">{{quote.price}} €</div>
      </div>
    </div>
    {{/if}}


  </div>

  <div class="mt-6 flex justify-end">
    {{#if (compare quote.status "===" "traitement")}}
    <input type="submit" value="Valider" onclick={{action "validateQuote"}} class="button">
    <input type="submit" value="Refuser" onclick={{action "refuseQuote"}} class="button">
    {{else}}
    {{#if (compare quote.status "===" "attente")}}
    <input type="submit" value="Envoyer" onclick={{action "sendQuote"}} class="button">
    <input type="submit" value="Refuser" onclick={{action "refuseQuote"}} class="button">
    {{/if}}
    {{/if}}
  </div>
</div>
{{outlet}}