<h3 class="mt-4">Liste devis</h3>

<div class="bg-white p-4 shadow-md mt-4">
  <table class="w-full">

    <tr class="p-2 text-white bgPrimaryBlue">
      <th class="w-1/5">Id</th>
      <th class="w-1/5">Nom client</th>
      <th class="w-1/5">Destination</th>
      <th class="w-1/5">Statut</th>
      <th class="w-1/5">Actions</th>
    </tr>

{{#each model as |quote|}}
{{#if (compare quote.status '===' 'attente' )}}
    <tr class="p-2 text-black hover:bg-blue-lighter hover:text-blue-darkest">
      <td class="w-1/5 text-center">{{link-to quote.id "back-agent.agent.quote-card" quote.id class="text-black"}}</td>
      <td class="w-1/5 text-center">{{quote.idClient.idUser.firstname}}</td>
      <td class="w-1/5 text-center">{{quote.placeArrival.city}}</td>
      <td class="w-1/5 text-center">{{quote.status}}</td>
      <td class="w-1/5 text-center"><i class="fas fa-info-circle"></i></td>
    </tr>
    {{/if}}
 {{/each}}

  </table>
  {{!-- <div class="text-right italic text-xs mt-2">
    {{#link-to "back-client.client.proposals"}}Voir toutes les propositions de devis{{/link-to}}
  </div> --}}
</div>

{{outlet}}