<h2 class="mt-6">Devis #ID du client #ID</h2>

<div class="bg-white p-4 shadow-md mt-4 text-black w-full">

  {{!--Infos clients--}}
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4 class="">Infos client:</h4>
      <i class="fas fa-user-edit"></i>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Prénom:</div>
        <div class="pl-2 flex italic">Albert{{contactConfirmPrenom}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Nom: </div>
        <div class="pl-2 italic">Redu{{ConfirmNom}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Email: </div>
        <div class="pl-2 italic">albert.redu@gmail.com{{contactConfirmEmail}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Genre: </div>
        <div class="pl-2 italic">Masculin{{!--genre--}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Société: </div>
        <div class="pl-2 italic">Rebuc Tuyau{{contactConfirmSociety}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N° Tva: </div>
        <div class="pl-2 italic">Be 123654789 {{contactConfirmConfirmTva}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> N°Tel: </div>
        <div class="pl-2 italic">003269777777{{contactConfirmConfirmTel}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°Fax: </div>
        <div class="pl-2 italic">0032777776{{contactConfirmFax}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">Vezon{{contactConfirmCity}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">Rue des Italiens{{contactConfirmConfirmStreet}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">69{{contactConfirmNumber}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">Belgique{{contactConfirmPc}}</div>
      </div>
    </div>
  </div>


  {{!--Infos voyage--}}
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Départ:</h4>
      <i class="far fa-edit"></i>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Date de départ: </div>
        <div class="pl-2 italic">21/03/2019{{!--date de départ--}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Heure de départ: </div>
        <div class="pl-2 italic">12h00{{!--HDD--}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">Paris{{contactConfirmDpCity }}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">Concorde{{contactConfirmConfirmDpStreet}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">12{{contactConfirmDpNumber}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">France{{contactConfirmDpPc}}</div>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Retour:</h4>
      <i class="far fa-edit"></i>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Date de retour: </div>
        <div class="pl-2 italic">22/03/2019{{!--DDR--}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Heure de départ: </div>
        <div class="pl-2 italic">17h00 {{!--HDDR--}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Ville: </div>
        <div class="pl-2 italic">Paris{{contactConfirmRtCity }}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Rue: </div>
        <div class="pl-2 italic">Concorde{{contactConfirmConfirmRtStreet}}</div>
      </div>
    </div>
    <div class="flex space-between mb-2">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">N°: </div>
        <div class="pl-2 italic">12{{contactConfirmRtNumber}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Pays: </div>
        <div class="pl-2 italic">France{{contactConfirmRtPc}}</div>
      </div>
    </div>
    </div>
    <div class="mb-6">
    <div class="flex justify-between bgPrimaryBlue p-4 text-white mb-4 rounded">
      <h4>Infos Voyage:</h4>
      <i class="far fa-edit"></i>
    </div>
    <div class="">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Durée du voyage </div>
        <div class="pl-2 italic text-red font-bold">A calculer DR-DD!{{!--duree du voyage--}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Kilométrage estimé:</div>
        <div class="pl-2 italic text-red font-bold">a entrer par l'agent{{!--kms--}}</div>
      </div>
    </div>
    <div class="">
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Nombre de passagers:</div>
        <div class="pl-2 flex italic">69{{contactConfirmPax}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Type de car: </div>
        <div class="pl-2 italic text-red font-bold">en fction du pax{{!--type de car--}}</div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold"> Nombre de chauffeur(s): </div>
        <div class="pl-2 italic text-red font-bold">à entrer par l'agent{{!--nombre chauffeur--}}</div>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="p-2 flex font-bold"> Prix de base: </div>
      <div class="p-2 italic">1800 €{{!--prix de base--}}</div>
    </div>
    <div class="">
      <div class="flex flex-1 flex-col">
        <div class="flex justify-between">
          <div class="p-2 flex font-bold"> Options: </div>
          <div class="p-2 italic">300 €{{!--suppléments--}}</div>
        </div>
        <div class="pl-2 italic">Remorque{{!--optionValue--}}</div>
      </div>


      <div class="flex flex-1 flex-col">
        <div class="p-2 flex font-bold">Commentaire: </div>
        <div class="pl-2 italic">J'aimerai un chauffeur qui puisse faire un tour de ville
          commenté{{!--textareaValue--}}</div>
      </div>
    </div>
    <div class="">
      <div class="flex justify-between">
        <div class="p-2 flex font-bold">Coûts supplémentaires: </div>
        <div class="p-2 italic">250 €{{!--suppléments--}}</div>
      </div>
      <div class="flex justify-between">
        <div class="p-2 flex font-bold">Total: </div>
        <div class="p-2 flex italic border-t-2 border-black ">2350 €{{!--Prix devis--}}</div>
      </div>


    </div>
  </div>



  <div class="mt-6 flex">
    <input type="submit" value="Valider" class="block appearance-none bgPrimaryBlue text-white sm:w-1/3 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
    <input type="submit" value="Refuser" class="block appearance-none bgPrimaryBlue text-white sm:w-1/3 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
    <input type="submit" value="Envoyer" class="block appearance-none bgPrimaryBlue text-white sm:w-1/3 border border-grey-light hover:border-grey px-2 py-2 rounded shadow">
  </div>
</div>

{{outlet}}