<div ><a href="#" {{action "back"}}>Retour</a></div>
<h2>Votre devis accepté n°{{model.numFolder}}</h2>

<div class="bg-white shadow-md mt-4 md:w-1/2">

  <div class="flex">
    <div class="flex-1 w-1/2 p-3">
      Prénom<br>
      <div class="italic text-grey-dark">{{model.idClient.idUser.firstname}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Nom<br>
      <div class="italic text-grey-dark">{{model.idClient.idUser.lastname}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Email<br>
      <div class="italic text-grey-dark">{{model.idClient.idUser.email}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Genre<br>
      <div class="italic text-grey-dark">{{model.idClient.idUser.sexe}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Nom de société<br>
      <div class="italic text-grey-dark">{{model.idClient.societe}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N° TVA<br>
      <div class="italic text-grey-dark">{{model.idClient.numTva}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">{{model.idClient.adresseFacturation.country}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">{{model.idClient.adresseFacturation.city}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">{{model.idClient.adresseFacturation.zip}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">{{model.idClient.adresseFacturation.street}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">{{model.idClient.adresseFacturation.number}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Date de départ<br>
      <div class="italic text-grey-dark">{{model.dateDeparture}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Date de retour<br>
      <div class="italic text-grey-dark">{{model.dateArrival}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Heure de départ<br>
      <div class="italic text-grey-dark">heure à mettre</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Heure de retour<br>
      <div class="italic text-grey-dark">heure à mettre</div>
    </div>
  </div>

  <h4 class="p-3">Destination</h4>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">{{model.placeArrival.country}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">{{model.placeArrival.city}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">{{model.placeArrival.street}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">{{model.placeArrival.number}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">{{model.placeArrival.zip}}</div>
    </div>
  </div>

  <h4 class="p-3">Lieu de départ</h4>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="italic text-grey-dark">{{model.placeDeparture.country}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="italic text-grey-dark">{{model.placeDeparture.city}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="italic text-grey-dark">{{model.placeDeparture.street}}s</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="italic text-grey-dark">{{model.placeDeparture.number}}</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="italic text-grey-dark">{{model.placeDeparture.zip}}</div>
    </div>
  </div>

  <div class="mt-4">
    <div class="p-3">
      Commentaires<br>
      <div class="italic text-grey-dark">{{model.com}}</div>
    </div>
  </div>

  {{!-- <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Durée du voyage<br>
      <div class="italic text-grey-dark">3 jours</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3 w-1/3">123€</div>
    </div>
  </div> --}}

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Distance du voyage<br>
      <div class="italic text-grey-dark">{{model.totalKm}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">???</div>
    </div>
  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Nombre de passagers<br>
      <div class="italic text-grey-dark">{{model.capacityAutocar}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">???</div>
    </div>
  </div>

  {{!-- <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Type de car<br>
      <div class="italic text-grey-dark">Classique</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">42€</div>
    </div>
  </div> --}}

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Options<br>
      {{#each model.options as |option|}}
        <div class="italic text-grey-dark">{{option}}</div>
      {{/each}}
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      {{#each model.options as |option|}}
        <div class="font-bold text-right w-1/3">???</div>
      {{/each}}
    </div>

  </div>

  <div class="flex mt-4">
    <div class="flex-1 w-1/2 p-3">
      Coûts supplémentaires<br>
      <div class="italic text-grey-dark">Voici un coût supplémentaire</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      <br>
      <div class="font-bold text-right w-1/3">???</div>
    </div>
  </div>

  <div class="flex justify-end m-4">
    <div class="p-3 w-1/5">
      Total
    </div>
    <div class="p-3 w-1/5 font-bold">
      {{model.price}}€
    </div>
  </div>
</div>

{{outlet}}