<div class="text-center">
  <h2 class="sm:text-xs lg:text-lg xl:text-2xl">Votre profil</h2>
</div>

<div class="mt-10 mb-10 px-8">
  <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
    <span class="sm:text-xs lg:text-lg xl:text-2xl text-blue font-bold">Votre identité</span>
  </div>
  {{!-- div Prénom et nom --}}
  <div class="flex md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Prénom<br>
      <div class="text-grey-dark pt-3">{{model.idUser.firstname}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Nom<br>
      <div class="text-grey-dark pt-3">{{model.idUser.lastname}}</div>
    </div>
  </div>
  {{!-- div Age et genre --}}
  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Age<br>
      <div class="text-grey-dark pt-3">{{model.idUser.age}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Genre<br>
      <div class="text-grey-dark pt-3">{{model.idUser.sexe}}</div>
    </div>
  </div>
  {{!-- div Email et n° tel --}}
  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Email<br>
      <div class="text-grey-dark pt-3">{{model.idUser.email}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N°téléphone<br>
      <div class="text-grey-dark pt-3">{{model.idUser.phone}}</div>
    </div>
  </div>

  <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
    <span class="sm:text-xs lg:text-lg xl:text-2xl text-blue font-bold">Votre adresse</span>
  </div>
  {{!-- div Pays et ville --}}
  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="text-grey-dark pt-3">{{model.idUser.address.country}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="text-grey-dark pt-3">{{model.idUser.address.city}}</div>
    </div>
  </div>
  {{!-- div Code postal et rue --}}
  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="text-grey-dark pt-3">{{model.idUser.address.zip}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="text-grey-dark pt-3">{{model.idUser.address.street}}</div>
    </div>
  </div>
  {{!-- div Numéro --}}
  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="text-grey-dark pt-3">{{model.idUser.address.number}}</div>
    </div>
  </div>

  <div class="border-b border-blue pb-1 sm:mb-2 lg:mb-4 pt-2">
    <span class="sm:text-xs lg:text-lg xl:text-2xl text-blue font-bold">Votre société</span>
  </div>

  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Nom de société<br>
      <div class="text-grey-dark pt-3">{{model.societe}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N° Fax<br>
      <div class="text-grey-dark pt-3">{{model.numFax}}</div>
    </div>
  </div>

  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      N° TVA<br>
      <div class="text-grey-dark pt-3">{{model.numTva}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      N° compte bancaire<br>
      <div class="text-grey-dark pt-3">{{model.numBank}}</div>
    </div>
  </div>

  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Pays<br>
      <div class="text-grey-dark pt-3">{{model.adresseFacturation.country}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Ville<br>
      <div class="text-grey-dark pt-3">{{model.adresseFacturation.city}}</div>
    </div>
  </div>

  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Code postal<br>
      <div class="text-grey-dark pt-3">{{model.adresseFacturation.zip}}</div>
    </div>
    <div class="flex-1 w-1/2 p-3">
      Rue<br>
      <div class="text-grey-dark pt-3">{{model.adresseFacturation.street}}</div>
    </div>
  </div>

  <div class="flex mt-4 md:w-4/5 md:mx-auto sm:text-xs lg:text-base xl:text-xl">
    <div class="flex-1 w-1/2 p-3">
      Numéro<br>
      <div class="text-grey-dark pt-3">{{model.adresseFacturation.number}}</div>
    </div>
  </div>
  <div class="flex justify-end p-3">
    {{#link-to "back-client.client.profile-update"}}<button class="sm:text-xs lg:text-base xl:text-xl">Modifier</button>{{/link-to}}
  </div>
</div>

{{outlet}}